<%- include("header") -%>
  <!-- Try not to use those scriplet tags, keep the logic in server -->
  <!-- <% if (kindOfDay === "Saturday" || kindOfDay === "Saturday") { %>
        <h1 style="color: purple;"><%= kindOfDay %> ToDo List</h1>
    <% } else { %>
        <h1><%= kindOfDay %> ToDo List</h1>
    <% } %> -->

  <div class="box" id="heading">
    <h1>
      <%= kindOfDay %>
    </h1>
  </div>

  <div class="box">
    <% for (var i=0; i < newListItems.length; i++) { %>
      <form action="/delete" method="post">
        <div class="item">
          <input type="checkbox" name="taskToDelete" value="<%=newListItems[i]._id%>" onchange="this.form.submit()"/>
          <p>
            <%= newListItems[i].task %>
          </p>
        </div>
      </form>
      <% } %>

        <form class="item" action="/" method="post">
          <input type="text" name="todoInput" id="todoInput" placeholder="New Task" autocomplete="off"
            autocomplete="off" />
          <button type="submit">+</button>
        </form>
  </div>
  <%- include("footer") -%>